<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/menu.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css" />
</head>
<body>    
    <label id="txtUsuario" style="display:none">@Html.Raw(ViewBag.userId)</label>
    <div id='menu-container'>
        <nav id='neat-menu'>
            <ul>
                <li class='active'><a href='/'>Home</a></li>                
                <li>
                    <a href='#'>Altas</a>
                    <ul>
                        <li>@Html.ActionLink("Cursos", "Cursos", "Home")</li>                        
                        <li>@Html.ActionLink("Laboratorios", "Laboratorios", "Home")</li>
                        <li>@Html.ActionLink("Asignaturas", "Materias", "Home")</li>
                        <li>@Html.ActionLink("Docentes", "Profesor", "Home")</li>
                        <li>@Html.ActionLink("Carreras", "Carreras", "Home")</li>                        
                        <li>@Html.ActionLink("Periodo", "Periodo", "Home")</li>
                        <li>@Html.ActionLink("Usuarios", "Usuarios", "Home")</li>
                    </ul>
                </li>                
                <li>
                    <a href='#'>Horarios</a>
                    <ul>
                        <li>@Html.ActionLink("Accesos", "Accesos", "Home")</li>
                        <li>@Html.ActionLink("Asignacion", "Asignacion", "Home")</li>
                        <li>@Html.ActionLink("Grupos Compartidos", "Compartidos", "Home")</li>
                        <li>@Html.ActionLink("Asistencia", "Asistencia", "Home")</li>                        
                        <li>@Html.ActionLink("Horario", "Horario", "Home")</li>
                        <li>@Html.ActionLink("Series", "Series", "Home")</li>
                        <li>@Html.ActionLink("Historial de cambios", "Cambios", "Home")</li>
                        <li>@Html.ActionLink("HorariosLab", "HorariosLab", "Home")</li>
                    </ul>
                </li>       
                <li>
                    <a href='#'>Bitacoras</a>
                    <ul>
                        <li>@Html.ActionLink("Registro de bitacora", "Bitacora", "Home")</li>
                        <li>@Html.ActionLink("Reportes de bitacora", "ReportesBit", "Home")</li>
                    </ul>
                </li>                                           
                <li>@Html.ActionLink("Consultas", "Consultas", "Home")</li>                
                <li><label id="lblLogout" onclick="logout()">Logout</label></li>
            </ul>
        </nav>        
        
    </div>    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - RWH Application</p>
            
        </footer>
    </div>

     
        <script src="~/Scripts/jquery-1.9.1.js"></script>        
        @Scripts.Render("~/bundles/bootstrap")    

        @RenderSection("scripts", required: false)
    
</body>

</html>

<script src="~/Scripts/logout.js"></script>