@model List<ControlLab.Models.InfoHPrac>

<!--CSS-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="~/Content/global.css" />
<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="~/Content/styles.css" />

<!--Titulo pestaña-->
<title>Horas Practicas</title>

<!--Titulo-->
<h2 id="titulo">Series</h2>

<!--Panel periodo-->
<div>
    Periodo: <input type="checkbox" id="ckPeriodo" onchange="ShowPeriodo()">
    <input type="text" id="txtPeriodo" style="display:none" onkeyup="if (event.keyCode == 13) showSeries()">
</div>

<!--Panel principal-->
<div id="info">    
    <div id="info" class="table-responsive">
        <table id="tbSerie" class="table table-hover">
            <thead id="thHead">
                <tr>
                    <th>Serie</th>
                    <th>Materia</th>
                    <th>Grupo</th>
                    <th>Horas Practicas</th>
                    <th>Horas Faltantes</th>
                    <th>Horas Sobrantes</th>                    
                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0)
                {
                    foreach(var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Serie)</td>
                            <td>@Html.DisplayFor(modelItem => item.Materia)</td>
                            <td>@Html.DisplayFor(modelItem => item.Grupo)</td>
                            <td>@Html.DisplayFor(modelItem => item.HorasPracticas)</td>
                            <td>@Html.DisplayFor(modelItem => item.HorasFaltantes)</td>
                            <td>@Html.DisplayFor(modelItem => item.HorasSobrantes)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<!--Botones-->
<button id="btnAceptar" onclick="Exportar()">Exportar</button>

<!--Script-->
<script src="~/Scripts/global.js"></script>
<script src="~/Scripts/series.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

